{*Da bi mi se JQ iz delete_question.js ucitavao na svakoj strani!!??
Morao sam JQ ovako da pozivam preko CDN-content delivery network, 
Isto vazi i za tinymce.min.js - mora i CDN (i tinymce.init), ali i library sa moje lokacije da ne bi nudio da registrujes domen*}
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
{**}
<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/delete_question.js"></script>
{**}
<script type="text/javascript" src="/assets/js/tinymce.min.js"></script>
<script type="text/javascript">tinymce.init({
    selector: 'textarea'
  });</script>
</body>
</html>