<!doctype>
<html lang="en">
<head>
    <title>test</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>